# On every push this script is executed
on: push
name: Build and deploy GH Pages
jobs:
  build:
    name: shalzz/zola-deploy-action
    runs-on: ubuntu-latest
    steps:
    # Checkout
    - uses: actions/checkout@v2
    # Build & deploy
    - name: shalzz/zola-deploy-action
      uses: shalzz/zola-deploy-action@v0.15.3
      env:
        # Target branch
        PAGES_BRANCH: main
        # Provide personal access token
        GITHUB_TOKEN: ${{ secrets.TOKEN }}